body {
    --twitter-color: #1DA1F2;
    --twitter-background: #e6ecf0;
    /* padding: 0 !important; */
    font-family: 'Roboto', sans-serif;
}

.App {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}