.sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.3;
    /* min-width: 250px */
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar__twitterIcon {
    color: var(--twitter-color);
    font-size: 30px !important;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sidebar__tweet {
    background-color: var(--twitter-color)!important;
    color: white!important;
    border: none !important;
    font-weight: 800 !important;
    margin-left: auto !important;
    width: 80px;
    height: 40px !important;
    text-transform: inherit !important;    
    border-radius: 30px !important;
    margin-top: 20px !important;
}

.sidebar__menuIcon {
    position: absolute;
    top: 68px;
    left: 419px;
    
}

.sidebar__menuIconDiv {
    display: none !important;
}

a:link {
    color: black;
    text-decoration: none;
  }
  

  a:visited {
    color: black;
  }

  a:hover {
    color: black;
  }

  a:active {
    color: black;
  }
  

@media only screen and (max-width: 810px) {
    .sidebar{
        width: 30%;
    }
}


@media only screen and (max-width: 600px) {
    .sidebar__ClearIcon {
        top: 45px !important;
        left: 180px !important;
        position: absolute;
    }

    .sidebar__menuIconDiv {
        display: flex !important;
    }



    .sidebar.active {
        transform: translate(0px,0);
        z-index: 101;
        top: -15px;
        padding-top: 40px;
        height: 100vh;
        background-color: white;
        position: absolute;
        width: 200px;
    }

    .sidebar {
        transform: translate(-400px, -30px);
        position: absolute;
        background-color: white;
        z-index: 101;
        height: 100vh;
        width: 300px;
    }

    .sidebar__tweet {
        width: 70% !important;
    }   
}

